body {
    margin: 0 80px 0 80px;
}


/*Cards home-page*/

.profile-card-6 {
    max-width: 270px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
}

.profile-card-6 img {
    transition: all 0.15s linear;
    width: 100%;
}

.profile-card-6 .profile-name {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    padding: 15px 20px;
    background: linear-gradient(140deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0) 50%);
    transition: all 0.15s linear;
}

.profile-card-6 .profile-position {
    position: absolute;
    color: rgba(255, 255, 255, 0.4);
    left: 30px;
    top: 100px;
    transition: all 0.15s linear;
}

.profile-card-6 .profile-overview {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0));
    color: #FFF;
    padding: 50px 0px 20px 0px;
    transition: all 0.15s linear;
}

.profile-card-6 .profile-overview h3 {
    font-weight: bold;
}

.profile-card-6 .profile-overview p {
    color: rgba(255, 255, 255, 0.7);
}

.profile-card-6:hover img {
    filter: brightness(80%);
}

.profile-card-6:hover .profile-name {
    padding-left: 25px;
    padding-top: 20px;
}

.profile-card-6:hover .profile-position {
    left: 40px;
}

.profile-card-6:hover .profile-overview {
    padding-bottom: 25px;
}


/*show-page*/

.show {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 11px;
    margin-right: 30px;
}

.show img {
    max-height: 480px !important;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    object-fit: cover;
}

.show iframe {
    width: 100% !important;
    height: 480px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    object-fit: cover;
}


/* area de comentário*/

.card {
    background-color: #fff;
    border: solid 1px rgb(218, 217, 217);
    width: 100%;
}

.comment:hover {
    background-color: #f3eded;
}

.form-color {
    background-color: #fafafa
}

.form-control {
    height: 48px;
    border-radius: 25px
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #35b69f;
    outline: 0;
    box-shadow: none;
    text-indent: 10px
}

.comment-text {
    font-size: 14px
}

.username {
    font-size: 20px;
}

.option {
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option button {
    background-color: #fff;
    border: none;
}


/*estrelas*/

.estrelas input[type=radio] {
    display: none;
}

.estrelas label i.fa:before {
    content: '\f005';
    color: #FC0;
}

.estrelas input[type=radio]:checked~label i.fa:before {
    color: #CCC;
}

.avaliacao {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.estrelas {
    display: inline-block;
    display: flex;
}

.estrelas button {
    display: inline-block;
    height: 100%;
    padding: 2px;
    margin-left: 5px;
}